################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet/tests/bin/Debug
