################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet/tests/bin/Debug
/dotnet/tests/obj/Debug
/dotnet/openeet-lite/bin/Debug
/dotnet/openeet-lite/obj/Debug
.vs
/dotnet/openeet-lite/TestResults
/dotnet/UnitTests/bin/Debug
obj
/dotnet/openeet-lite/packages/JetBrains.dotMemoryUnit.2.3.20160517.113140/Doc
/dotnet/openeet-lite/packages/JetBrains.dotMemoryUnit.2.3.20160517.113140
/dotnet/UnitTests/obj/Debug
/dotnet/openeet-lite/.vs/openeet-lite/v14
