################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet/tests/bin/Debug
/dotnet/tests/obj/Debug
/dotnet/openeet-lite/bin/Debug
/dotnet/openeet-lite/obj/Debug
.vs
