<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>
.label {
  font-style: italics;
  font-weight: bold;
}

.value {
  padding-left: 2ex;
}

.fixed {
    font-family: monospace;
}
</style>
</head>
<body>
<div class="label">DIČ:</div>
<div class="value">$entry.saleData.dicPopl</div>

<div class="label">Provozovna:</div>
<div class="value">$entry.saleData.idProvoz</div>

<div class="label">Pokladna:</div>
<div class="value">$entry.saleData.idPokl</div>

<div class="label">Číslo:</div>
<div class="value">$entry.saleData.poradCis</div>

<div class="label">Datum:</div>
<div class="value">$entry.saleData.datTrzby</div>

<div class="label">Částka:</div>
<div class="value">$entry.saleData.celkTrzba Kč</div>

<div class="label">BKP:</div>
<div class="value fixed"><pre>$entry.groupLine($entry.saleData.bkp,27,1)</pre></div>

#if( $entry.registered )
    <div class="label">FIK:</div>
    <div class="value fixed">$entry.fik</div>
#else
    <div class="label">PKP:</div>
    <div class="value fixed">$entry.groupLine($entry.saleData.pkp,8,4)</pre></div>
#end

</body>
</html>