<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>
.att-head {
  font-style: italics;
  font-weight: bold;
}

.att-body {
  padding-left: 2ex;
}

.fixed {
    font-family: monospace;
}
</style>
</head>
<body>

#foreach( $att in $entry.attempts )
    <div class="att">
        <div class="att-head">Pokus č. $foreach.count:</div>
        <div class="att-body">
            Zahájeno: $att.startSendingTime <br>
            Dokončeno: $att.finishTime <br>
            Odpověď: $att.response.time <br>
            Výsledek: $att.result <br>
        </div>
        <div><b>Request:</b></div>
        <div class="request">
            <pre>$entry.escapeXml($att.soapRequest)</pre>
        </div>

        #if ( $att.soapResponse )
        <div><b>Response:</b></div>
        <div class="response">
            <pre>$entry.escapeXml($att.soapResponse)</pre>
        </div>
        #else
        <div><b>Chyba:</b></div>
        <div class="response">
            <pre>$att.throwableTrace</pre>
        </div>
        #end


        <hr>
    </div>
#end


</body>
</html>